.modal-body h2 {
  color: #c34760;
}

.one-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    span {
      color: #c34760;
    }
  }
  &__buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3px;
    padding-left: 8px;
  }
}
.one-item * {
  flex-wrap: wrap;
  padding-right: 8px;
}

.modal {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.show-message {
  display: flex;
  position: absolute;
  bottom: 50px;
  right: 30px;
  width: 100%;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  z-index: 9;
  .alert-danger {
    background-color: #f8d7dac2;
  }
  .alert-info {
    background-color: #d1ecf1c2;
  }
  .alert-success {
    background-color: #d4eddac2;
  }
  div {
    width: 50%;
  }
}
